@import '$lib/styles/ckeditor.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* add scroll smooth  */
html {
	scroll-behavior: smooth;
}

body {
	/* @apply bg-secondary-100/20; */
}

* {
	--cds-button-primary: #00833f;
	--cds-button-primary-hover: #006932;
	--cds-focus: #f4be49;
	--cds-icon-interactive: #f4be49;
	--cds-layer-hover-01: #f4be49;

	--cds-background-brand: #00833f;

	--cds-border-interactive: #f4be49;
}
