@import '$lib/styles/ckeditor.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* add scroll smooth  */
html {
	scroll-behavior: smooth;
}

body {
	/* @apply bg-secondary-100/20; */
}
